<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login to your account</title>
</head>
<body>
<p>Don't have an account? <a href="{% url 'register' %}">Register now!</a></p>
<form method="post">
    {% csrf_token %}
<h1 class="h3 mb-3 font-weight-normal">Login</h1>
    {% for field in login_form %}
    <p>
        {{field.label_tag}}
        {{field}}
    </p>
    {% endfor %}
    <button class="registerBtn" type="submit">Log In</button>
</form>
</body>
</html>
